{% load wagtailcore_tags %}
{% if value.columns %}
<div class="row row-cols-{{ value.layout }}{% if value.horizontal_align %} justify-content-{{ value.horizontal_align }} text-{{ value.horizontal_align }}{% endif %}">
  {% for column in value.columns %}
    <div class="col">
      {% for block in column %}
        {% include_block block %}
      {% endfor %}
    </div>
  {% endfor %}
</div>
{% endif %}
